    <%= form_with model: person do |form| %>
      <div class="grid">

        <%= form.label :first_name do %>
          Vorname
          <%= form.text_field :first_name, placeholder: "Vorname", value: person.first_name  %>
        <% end %>

        <%= form.label :name do %>
          Nachname
          <%= form.text_field :name, placeholder: "Nachname", value: person.name  %>
        <% end %>

        <%= form.label :dob do %>
          Geburtsdatum
          <%= form.date_field :dob %>
        <% end %>
       <%= form.submit %>
      </div>
    <% end %>

