<table role=grid >
  <thead>
    <tr>
      <th scope="col">Nachname</th>
      <th scope="col">Vorname</th>
      <th scope="col">Stadt</th>
      <th scope="col">Anmelden</th>
    </tr>
  </thead>
  <tbody>
    <% people.each do |person| %>
      <% c = ISO3166::Country.new(person.country_code) %>
      <tr>
        <th scope="row"><%= person.last_name %></th>
        <td><%= person.first_name %> <%= " (#{person.age})" if person.minor? %></td>
        <td><%= person.city %> <%= c.emoji_flag %></td>
        <td>Register</td>
      </tr>
    <% end %>
  </tbody>
</table>