<% if people.any? %>
  <%= render 'shared/components/table', headers: ['Nachname', 'Vorname', 'Stadt'], zebra: true do %>
    <% people.each do |person| %>
      <tr>
        <td class="font-medium"><%= person.name %></td>
        <td>
          <%= person.first_name %>
          <% if person.underage_at_camp?(camp) %>
            <%= render 'shared/components/badge',
                text: person.age_at_camp(camp).to_s,
                variant: 'warning',
                size: 'sm',
                additional_class: 'ml-2' %>
          <% end %>
        </td>
        <td><%= person.household.town %></td>
      </tr>
    <% end %>
  <% end %>
<% else %>
  <p class="text-base-content/60 italic">Keine Teilnehmenden angemeldet.</p>
<% end %>