<table role=grid >
  <thead>
    <tr>
      <th scope="col">Nachname</th>
      <th scope="col">Vorname</th>
      <th scope="col">Stadt</th>
      <th scope="col">Anmelden</th>
    </tr>
  </thead>
  <tbody>
    <% people.each do |person| %>
      <% c = ISO3166::Country.new(person.country_code) %>
      <tr>
        <th scope="row"><%= person.name %></th>
        <td><%= person.first_name %> <%= " (#{person.age})" if person.minor? %></td>
        <td><%= person.city %> <%= c.emoji_flag %></td>
        <% if person.registered_for_camp?(camp) %>
          <td><a href="" role=button>Abmelden</a></td>
        <% else %>
          <td><%= button_to 'Ãnmelden', camp_new_registrations_path(camp_id: camp.id , person_id: person.id), role: 'button', method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>