<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Lager", camps_path %></li>
    <li><%= link_to "People", people_path %></li>
    <li><%= link_to "Neuer Haushalt", new_household_path %></li>
  </ul>
  <ul>
    <li><strong>Ökumenische Ferienwoche CRM</strong></li>
  </ul>
  <ul>
    <% if current_user %>
      <li>
        <details class="dropdown">
          <summary><%= current_user.person.first_name %></summary>
           <ul dir="rtl">
            <li><%= link_to "Profil", edit_person_path(current_user.person) %></li>
            <li><%= link_to "Abmelden", destroy_user_session_path, method: :delete, class: "secondary" %></li>
          </ul>
        </details>
      </li>
    <% else %>
      <li>
        <%= button_to "Anmelden", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>
