<h1>Neuen Haushalt anlegen</h1>

<% if @similar_households.any? %>
  <div class="alert alert-warning">
    <strong>⚠️ Achtung: Ähnliche Haushalte gefunden</strong>
    <p>Es existieren bereits Haushalte mit dieser Adresse:</p>
    <ul>
      <% @similar_households.each do |household| %>
        <li>
          <%= link_to household.recipient, household_path(household) %> -
          <%= household.full_address %>
        </li>
      <% end %>
    </ul>
    <p>Wenn Sie einen neuen Haushalt mit anderem Empfänger anlegen möchten, können Sie fortfahren.</p>
  </div>
<% end %>

<%= form_with model: @household do |f| %>
  <%= f.label :recipient %>
  <%= f.text_field :recipient %>
  <%= f.label :street %>
  <%= f.text_field :street %>
  <%= f.label :number %>
  <%= f.text_field :number %>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>
  <%= f.label :country_code %>
  <%= f.text_field :country_code %>
  <%= f.label :town %>
  <%= f.text_field :town %>
  <%= f.submit %>
<% end %>
</div>



