<div class="grid">
  <article style="position: relative; padding-bottom: 40px;">
    <hgroup style="text-align:center"> 
      <h2><%= @household.recipient %></h2>
      <p>
        <%= @household.street %> <%= @household.number %><br>
        <%= @household.zip_code %> <%= @household.town %>
      </p>
    </hgroup>
     <%= link_to "Edit", edit_household_path(@household), style: "position: absolute; bottom: 10px; right: 10px;" %>
  </article>
  <div>
    <%= link_to "Neue Person hinzufügen", new_household_person_path(@household), role: "button" %>
    <% @household.people.each do |person| %>
      <%= link_to person.full_name, person %><br>
    <% end %>
  </div>
</div>
